{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "printWidth": 110,
    "overrides": [
        {
            "files": "sources/**/*.md",
            "options": {
                "parser": "markdown",
                "proseWrap": "preserve",
                "printWidth": 80,
                "semi": true,
                "singleQuote": false,
                "tabWidth": 2
            }
        },
        {
            "files": "*.css",
            "options": {
                "parser": "css",
                "proseWrap": "never",
                "printWidth": 10000,
                "semi": true
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        }
    ]
}
